@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #EE374E;
    --cor2: #C92E43;
    --cor3: #A12535;
    --cor4: #781C28;
    --cor5: #4F121A;
}

body {
    font-family: "Inter", sans-serif;
}

header {
    background-image: linear-gradient(to top, var(--cor2), var(--cor5));
    padding: 10px;
}

header > h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.8em;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.438);
    color: white;

    text-align: center;
}

header > p {
    color: white;
    font-size: 1.2em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.438);

    padding: 0px 10px 10px 10px;
    text-align: center;
}

header > form {
    display: flex;
    justify-content: center;
}

header > form > input {
    width: 80%;
    height: 40px;
    font-size: 1.2em;
    text-align: center;

    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;

    width: 80%;
    margin: 20px auto;
}

table td,
table th,
table caption {
    border: 1px solid black;
    text-align: center;
}

footer {
    background-image: linear-gradient(to top, var(--cor2), var(--cor5));
    font-family: "Poppins", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}

footer > p {
    font-size: 1em;
    color: white;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.829);
}

footer > p > a {
    color: white;
    border: 2px solid white;
    background-color: black;
    text-decoration: none;

    padding: 3px;
    border-radius: 10px;
}

footer > p > a::before {
    content: "🔗";
}